@page
@model App_CSV_withoutEF.MyPages.OrganizationEditModel
@{
    int i = 0;
    string color = String.Empty;
}
<h1>Страница для работы с организациями</h1>

<form style="display: grid;" method="post" asp-antiforgery="true">
    <input type="text" placeholder="Название организации" asp-for="organization.Title_ORG" />
    <input type="text" placeholder="ИНН организации" asp-for="organization.INN_ORG" />
    <input type="text" placeholder="Юр.адрес организации" asp-for="organization.UrAddress_ORG" />
    <input type="text" placeholder="Факт.адрес организации" asp-for="organization.FactAddress_ORG" />

    <input type="submit" value="Добавить организацию" />
</form>
<div style="position: relative; display: flex;">
    <form method="post">
        <input type="submit" value="Записать CSV файл" asp-page-handler="WriteToCSV" />
    </form>
    <form method="post">
        <input type="submit" value="Считать CSV файл" asp-page-handler="ReadFromCSV" />
    </form>
</div>
@if (Model.organizations != null)
{
    i = 0;
    <div class="divtable">
        <table>
            <tr class="thead">
            <th>Название организации</th>
            <th>ИНН</th>
            <th>Юридический адрес</th>
            <th>Фактический адрес</th>
            </tr>
            @foreach (var org in Model.organizations)
            {
                <tr style="background-color: @(i % 2 == 0 ? "lightblue" : "bisque")">
                    <td>
                        @org.Title_ORG
                    </td>
                    <td>
                        @org.INN_ORG
                    </td>
                    <td>
                        @org.UrAddress_ORG
                    </td>
                    <td>
                        @org.FactAddress_ORG
                    </td>
                </tr>
                i++;
            }
        </table>
    </div>
}


@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}